In [7]:

from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

In [8]:
#pip install keras
#!pip install tensorflow
#!pip install scikit-learn
#!pip install --upgrade tensorflow

# DATA SCIENCE - METODOLOGIA CRISP-DM

## CARGAMOS LOS DATOS

In [2]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [3]:
df = pd.read_csv('fraudTrain.csv', encoding='latin-1')
df.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

## 1. ANALISIS EXPLORATORIO DE LOS DATOS

In [4]:
# Estadistica descriptiva de los datos.
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [5]:
# Deteccion de valores Nulos(NAN)
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [8]:
# Formatear datos de Fechas
column_fecha = pd.to_datetime(df["trans_date_trans_time"])
column_fecha

0         2019-01-01 00:00:18
1         2019-01-01 00:00:44
2         2019-01-01 00:00:51
3         2019-01-01 00:01:16
4         2019-01-01 00:03:06
                  ...
1296670   2020-06-21 12:12:08
1296671   2020-06-21 12:12:19
1296672   2020-06-21 12:12:32
1296673   2020-06-21 12:13:36
1296674   2020-06-21 12:13:37
Name: trans_date_trans_time, Length: 1296675, dtype: datetime64[ns]

In [9]:
change_column_fecha =  column_fecha.dt.strftime("%m/%d/%y")
change_column_fecha

0          01/01/19
1          01/01/19
2          01/01/19
3          01/01/19
4          01/01/19
             ...
1296670    06/21/20
1296671    06/21/20
1296672    06/21/20
1296673    06/21/20
1296674    06/21/20
Name: trans_date_trans_time, Length: 1296675, dtype: object

In [10]:
X = df.loc[:, ['ID_CLIENT','SEX','AGE', 'AREA_CODE_RESIDENCIAL_PHONE','PAYMENT_DAY']]
X.head()

   ID_CLIENT SEX  AGE  AREA_CODE_RESIDENCIAL_PHONE  PAYMENT_DAY
0          2   F   18                           31           20
1          4   F   47                           31           25
2          5   F   28                           31           25
3          6   M   26                           31           28
4          7   F   22                           31           12

In [11]:
X = pd.concat([X, pd.get_dummies(X['SEX'],prefix='1HotEnc')], axis=1)
X = X.drop(['SEX'], axis=1)
X

,ID_CLIENT,AGE,AREA_CODE_RESIDENCIAL_PHONE,PAYMENT_DAY,1HotEnc_F,1HotEnc_M
0,2,18,31,20,1,0
1,4,47,31,25,1,0
2,5,28,31,25,1,0
3,6,26,31,28,0,1
4,7,22,31,12,1,0
...,...,...,...,...,...,...
39995,49994,29,31,12,0,1
39996,49995,20,31,20,1,0
39997,49996,21,31,12,0,1
39998,49998,23,31,28,1,0
39999,50000,29,31,23,0,1

In [41]:
#var_s = {'F':0, 'M':1}
#X['SEX'] = X['SEX'].map(var_s)
#X.head()

In [12]:
Y = df.loc[:, ['TARGET_LABEL_BAD=1']]
Y.head()

   TARGET_LABEL_BAD=1
0                   0
1                   0
2                   0
3                   0
4                   0

In [13]:
X = np.asarray(X)
Y = np.asarray(Y)

X.shape, Y.shape

((40000, 6), (40000, 1))

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42, shuffle=False)

In [15]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape,

((32000, 6), (32000, 1), (8000, 6), (8000, 1))

## MLP Hyperparameters

In [16]:
model = Sequential()
model.add(Dense(10, input_dim=6, activation='relu'))  # input_shape=(None,5)
model.add(Dense(1,activation='sigmoid'))

### MLP Hyperparameters

In [17]:
model.compile( optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                70

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 81
Trainable params: 81
Non-trainable params: 0
_________________________________________________________________

In [19]:
#entrenar modelo
model.fit(X_train,y_train,epochs=30, verbose=1,batch_size=2000)

Epoch 1/30
16/16 [==============================] - 6s 18ms/step - loss: 326.3026 - accuracy: 0.8021
Epoch 2/30
16/16 [==============================] - 0s 13ms/step - loss: 199.1865 - accuracy: 0.8021
Epoch 3/30
16/16 [==============================] - 0s 9ms/step - loss: 75.1272 - accuracy: 0.8020
Epoch 4/30
16/16 [==============================] - 0s 9ms/step - loss: 15.8567 - accuracy: 0.6205
Epoch 5/30
16/16 [==============================] - 0s 10ms/step - loss: 5.6047 - accuracy: 0.7196
Epoch 6/30
16/16 [==============================] - 0s 9ms/step - loss: 1.8036 - accuracy: 0.7048
Epoch 7/30
16/16 [==============================] - 0s 9ms/step - loss: 0.9584 - accuracy: 0.7153
Epoch 8/30
16/16 [==============================] - 0s 10ms/step - loss: 0.6721 - accuracy: 0.7396
Epoch 9/30
16/16 [==============================] - 0s 10ms/step - loss: 0.6445 - accuracy: 0.7422
Epoch 10/30
16/16 [==============================] - 0s 8ms/step - loss: 0.6379 - accuracy: 0.7434
Epoch 11/30
16/16 [==============================] - 0s 8ms/step - loss: 0.6288 - accuracy: 0.7483
Epoch 12/30
16/16 [==============================] - 0s 9ms/step - loss: 0.6297 - accuracy: 0.7456
Epoch 13/30
16/16 [==============================] - 0s 9ms/step - loss: 0.6232 - accuracy: 0.7459
Epoch 14/30
16/16 [==============================] - 0s 11ms/step - loss: 0.6220 - accuracy: 0.7498
Epoch 15/30
16/16 [==============================] - 0s 10ms/step - loss: 0.6562 - accuracy: 0.7435
Epoch 16/30
16/16 [==============================] - 0s 11ms/step - loss: 1.1973 - accuracy: 0.7109
Epoch 17/30
16/16 [==============================] - 0s 10ms/step - loss: 0.7088 - accuracy: 0.7361
Epoch 18/30
16/16 [==============================] - 0s 10ms/step - loss: 0.6626 - accuracy: 0.7425
Epoch 19/30
16/16 [==============================] - 0s 9ms/step - loss: 0.6589 - accuracy: 0.7412
Epoch 20/30
16/16 [==============================] - 0s 9ms/step - loss: 0.7000 - accuracy: 0.7379
Epoch 21/30
16/16 [==============================] - 0s 8ms/step - loss: 0.7658 - accuracy: 0.7242
Epoch 22/30
16/16 [==============================] - 0s 7ms/step - loss: 0.7186 - accuracy: 0.7344
Epoch 23/30
16/16 [==============================] - 0s 8ms/step - loss: 0.6845 - accuracy: 0.7280
Epoch 24/30
16/16 [==============================] - 0s 7ms/step - loss: 0.7142 - accuracy: 0.7309
Epoch 25/30
16/16 [==============================] - 0s 9ms/step - loss: 0.9398 - accuracy: 0.7317
Epoch 26/30
16/16 [==============================] - 0s 8ms/step - loss: 1.2704 - accuracy: 0.7048
Epoch 27/30
16/16 [==============================] - 0s 8ms/step - loss: 0.6690 - accuracy: 0.7401
Epoch 28/30
16/16 [==============================] - 0s 9ms/step - loss: 1.0442 - accuracy: 0.7167
Epoch 29/30
16/16 [==============================] - 0s 9ms/step - loss: 0.8304 - accuracy: 0.7330
Epoch 30/30
16/16 [==============================] - 0s 8ms/step - loss: 1.0773 - accuracy: 0.7173

In [20]:
loss, accuracy = model.evaluate(X_test,y_test,verbose=1)

250/250 [==============================] - 3s 8ms/step - loss: 0.7997 - accuracy: 0.8040

In [21]:
model.save('creditscoring_model.h5')

## Matriz de Confusion

In [22]:
predictions = model.predict(X_test)
predictions = predictions.round().astype(int)
print(classification_report(y_test,predictions))

250/250 [==============================] - 2s 6ms/step
              precision    recall  f1-score   support

           0       0.80      1.00      0.89      6432
           1       0.00      0.00      0.00      1568

    accuracy                           0.80      8000
   macro avg       0.40      0.50      0.45      8000
weighted avg       0.65      0.80      0.72      8000

C:\Users\Bryan\Miniconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Bryan\Miniconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Bryan\Miniconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Prediccion de Datos nuevos

In [27]:
x_p=np.asarray([19,9,8,0,1,0]).reshape(1,-1)
prediccion=model.predict(x_p)
prediccion

1/1 [==============================] - 0s 78ms/step

array([[0.29135782]], dtype=float32)

In [28]:
prediccion_final=prediccion.round().astype(int)
prediccion_final

array([[0]])